<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
    </tr>
  </thead>
  <tbody>
    @for(personne of liste; track personne.id; let index = $index;) {
      <tr>
        <td>{{personne.nom}}</td>
        <td>{{personne.prenom}}</td>
        <td>
          <button (click)="selectPersonne(personne)">Editer</button>
          <button (click)="removeItem(index)">Supprimer</button>
        </td>
        
      </tr>
    }
  </tbody>
</table>
<div>
  <button (click)="showAddForm = true">Ajout</button>
</div>
@if(showAddForm) {
  <app-add (createEmitter)="addItem($event)" />
} 
@else if(selectedPersonne) {
  <app-add 
    (createEmitter)="addItem($event)"
    (editEmitter)="editItem($event)"
    [selectedPersonne]="selectedPersonne" />
} 

